<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/chat.css"/>
</head>
<body>

<div>
    <div class="username-page-container">
        <form method="post" action="/login">
            <h2>Login</h2>
            <div class="form-group">
                <input type="text" id="token" name="token" class="form-control" placeholder="Jwt">
            </div>
            <button class="accent" type="submit">Sign in</button>
        </form>
    </div>
</div>

</body>
</html>
